<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.mapper.BlogMapper">

    <update id="updateView">
        update t_blog set
            <if test="views != null">
                views = views + #{views}
            </if>
        where id = #{id} and deleted = 0 and publish = 1
    </update>

    <select id="selectBlogPage" resultMap="QueryBlog">
        select tb.id,tb.create_time,tb.title,tb.update_time,tb.views,
               tb.likes,tb.original,tb.commented,tb.information,
               tb.image,tb.user_id,tb.deleted,tb.publish,tb.type_id,
               tb.content_id,
               tt.value,tt.color,
               tu.nickname,tu.avatar

        from t_blog tb
            join t_type tt on tb.type_id = tt.id
            join t_user tu on tb.user_id = tu.id
            join t_content tc on tc.id = tb.content_id

        <where>
            <if test="queryBlog.excludeId != null">
                and tb.id != #{queryBlog.excludeId}
            </if>
            <if test="queryBlog.deleted != null">
                and tb.deleted = #{queryBlog.deleted}
            </if>
            <if test="queryBlog.publish != null">
                and tb.publish = #{queryBlog.publish}
            </if>
            <choose>
                <when test="queryBlog.lTime != null and queryBlog.rTime != null ">
                    and  tb.create_time between #{queryBlog.lTime} and #{queryBlog.rTime}
                </when>
                <when test="queryBlog.lTime != null">
                    and  tb.create_time &gt;= #{queryBlog.lTime}
                </when>
                <when test="queryBlog.rTime != null">
                    and  tb.create_time &lt;= #{queryBlog.rTime}
                </when>
             </choose>
            <if test="queryBlog.title != null">
                and tb.title like concat('%',#{queryBlog.title},'%')
            </if>
            <if test="queryBlog.typeId != null">
                and tb.type_id = #{queryBlog.typeId}
            </if>
        </where>
        order by
            <if test="queryBlog.mostLike != null">
                tb.likes
                <if test="queryBlog.mostLike">desc</if>,
            </if>
            <if test="queryBlog.mostView != null">
                tb.views
                <if test="queryBlog.mostView">desc</if>,
            </if>
            <if test="queryBlog.latest != null">
                tb.create_time
                <if test="queryBlog.latest">desc</if>
            </if>

    </select>
    <select id="getById" resultMap="BlogDetail">
        select tb.id,tb.title,tb.update_time,tb.views,
               tb.likes,tb.original,tb.commented,
               tb.image,tb.user_id,tb.type_id,
               tb.content_id,
               tt.value,tt.color,
               tu.nickname,tu.avatar
        from t_blog tb
                 join t_type tt on tb.type_id = tt.id
                 join t_user tu on tb.user_id = tu.id
                 join t_content tc on tc.id = tb.content_id
        where tb.id = #{id} and publish = 1 and tb.deleted = 0
    </select>
    <resultMap id="BlogDetail" type="com.example.blog.entity.bean.Blog">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="contentId" column="content_id" jdbcType="INTEGER"/>
        <result property="typeId" column="type_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="views" column="views" jdbcType="INTEGER"/>
        <result property="likes" column="likes" jdbcType="INTEGER"/>
        <result property="original" column="original" jdbcType="TINYINT"/>
        <result property="recommend" column="recommend" jdbcType="TINYINT"/>
        <result property="commented" column="commented" jdbcType="TINYINT"/>
        <result property="information" column="information" jdbcType="VARCHAR"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
        <association property="user" javaType="user">
            <id property="id" column="user_id" jdbcType="INTEGER"/>
            <result property="nickname" column="nickname"/>
            <result property="avatar" column="avatar"/>
        </association>
        <association property="type" javaType="type">
            <id property="id" column="type_id" jdbcType="INTEGER"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="color" column="color" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <resultMap id="QueryBlog" type="com.example.blog.entity.bean.Blog">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="contentId" column="content_id" jdbcType="INTEGER"/>
        <result property="typeId" column="type_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="views" column="views" jdbcType="INTEGER"/>
        <result property="likes" column="likes" jdbcType="INTEGER"/>
        <result property="original" column="original" jdbcType="TINYINT"/>
        <result property="publish" column="publish" jdbcType="TINYINT"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <result property="recommend" column="recommend" jdbcType="TINYINT"/>
        <result property="commented" column="commented" jdbcType="TINYINT"/>
        <result property="information" column="information" jdbcType="VARCHAR"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
        <association property="user" javaType="user">
            <id property="id" column="user_id" jdbcType="INTEGER"/>
            <result property="nickname" column="nickname"/>
            <result property="avatar" column="avatar"/>
        </association>
        <association property="type" javaType="type">
            <id property="id" column="type_id" jdbcType="INTEGER"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="color" column="color" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
</mapper>
